services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8000:8000"
